
            <div class="column">
                <div class="section">
                    <aside class="menu">
                        <p class="menu-label">
                            Menu
                        </p>
                        <ul class="menu-list">
                            <li><a href="<%= path.re %>mosaic/">mosaic</a></li>
                        </ul>
                        <ul class="menu-list">
                            <li>
                                <a href="<%= path.re %>animation/">animation</a>
                                <ul>
                                    <li><a href="<%= path.re %>animation/wave/">wave</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>